@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300;900&display=swap');

@mixin btnTemplate($py, $px) {
    padding: $py $px;
    @content;
}

@mixin bgCover() {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: radial-gradient(rgba(0, 0, 0, 0.1), black), url('../img/bg.jpg');
}

#page2, .draw__result__poem {
    display: none;
}

//++++ 主頁 ++++
body {
    font-family: 'Noto Serif TC', serif;
}

.wrapper {
    &--bg {
        @include bgCover();
    }
}
// .btn2 {
//     @include btnTemplate(0.5rem, 1rem);
//     color: #FFF;
//     margin: 0 1rem 1rem 0;
//     width: 22%;
//     background-color: transparent;
//     border: 1px solid #FFF;
//     transition: all 300ms ease-in-out;
//     &:hover {
//         background-color: rgba(255, 255, 255, 0.3);
//     }
//     &:active, &.active {
//         color: #000;
//         background-color: #FFF;
//     }
// }

.start {
    height: 128px;
    background-color: #FFF;
    display: flex;

    &__block {
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;

        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    &__btn {
        @include btnTemplate(0.5rem, 2rem);
        width: 385px;
        color: #000;
        font-size: 1.5rem;
        font-weight: bold;
        background-color: #fff;
        &.disabled {
            color: #FFF;
            background-color: rgba(214, 214, 214, 0.911);
            border: none;
            pointer-events: none;
        }
    }
}

.reset {
    &__btn {
        @include btnTemplate(0.5rem, 2rem);
        color: #FFF;
        font-size: 1.5rem;
        font-weight: bold;
        background-color: transparent;
        border: 1px solid #FFF;
        width: 100%;
    }
}


.draw {
    color: #FFF;
    h5 {
        font-weight: bold;
    }
    // &--bg {
    //     @include bgCover();
    //     // height: 670px;
    // }
    &--bgFull {
        height: 100vh;
    }
    &__cxt {
        display: flex;
        justify-content: space-between;
        max-width: 1280px;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    &__cxt__statement {
        max-width: 540px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 0 0 2rem 0;
        p {
            line-height: 1;
        }
    }
    &__cxt__leading {
        writing-mode: vertical-lr;
        h1 {
            font-size: 5.5rem;
            font-weight: 900;
            font-family: 'Noto Serif TC', serif;
        }
    }

    &__class {
        width: 368px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        input {
            display: none;
            &:checked + label {
                color: #000;
                background-color: #FFF;
            }
        }
        label {
            font-size: 1rem;
            width: 112px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 0 1rem 0;
            background-color: transparent;
            border: 1px solid #FFF;
            transition: all 300ms ease-in-out;
            cursor: pointer;
            &:hover {
                background-color: rgba(255, 255, 255, 0.3);
            }
        }
    }

    // ++++ 籤運結果說明 ++++

    &__result {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;

        &__detail {
            display: flex;
            align-items: flex-end;
        }
        &__poem {
            writing-mode: vertical-rl;
            p {
                font-size: 2.5rem;
                font-weight: bold;
                line-height: 2;
            }
        }
    }

}

// ++++ 籤運 ++++

.lots {
    width: 90%;
    height: 90%;
    margin: auto;
    padding: 3rem;
    display: flex;
    justify-content: center;

    position: relative;

    &--border {
        border: 1px solid rgba(255, 255, 255, 0.4);
    }
    &__txt {
        color: rgba(255, 255, 255, 0.4);
        font-size: 1.5rem;
        padding: 1rem;
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        &--lt {
            left: 0;
            top: 0;
            transform: translate(-50%, -50%);
        }
        &--rt {
            right: 0;
            top: 0;
            transform: translate(50%, -50%);
        }
        &--lb {
            left: 0;
            bottom: 0;
            transform: translate(-50%, 50%);
        }
        &--rb {
            right: 0;
            bottom: 0;
            transform: translate(50%, 50%);
        }
    }
    &__cxt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__number, &__year {
            font-size: 1.5rem;
            letter-spacing: 2.5rem;
        }
    
        &__luck {
            font-size: 15rem;
            font-weight: bold;
        }
    }
}

#drawArea {
    height: calc(100vh - 128px);
    transition: all 300ms ease-in-out;
    &.active {
        height: 100vh;
    }
}

#startArea {
    transition: all 300ms ease-in-out;
    &.active {
        margin-top: 0;
        height: 0;
    }
}



